<!-- <p>todo-item works!</p> -->
<div class="my-3">
    <h5 [ngClass]="{'strike':!todo.active}">{{todo.title}}</h5>
    <p [ngClass]="{'strike': !todo.active}">{{todo.desc}}</p>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onCheckboxClick(todo)"> 
        <label class="form-check-label" for="exampleCheck1">Toggle Done</label>
      </div>
    <button class = "btn btn-sm btn-danger"(click)="onClick(todo)">Delete</button>
</div>


